@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #5f5f5f
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Laddnings animation Hgo GPT */
.dot-flashing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.dot-flashing div {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #000;
  color: #000;
  animation: dot-flashing 1s infinite linear alternate;
}

.dot-flashing div:nth-child(1) {
  animation-delay: 0s;
}

.dot-flashing div:nth-child(2) {
  animation-delay: 0.3s;
}

.dot-flashing div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes dot-flashing {
  0% {
    background-color: #000;
  }
  50%, 100% {
    background-color: rgba(255, 255, 255, 0.6);
  }
}

@layer utilities {

  .chatbotcss{
    margin-left: 5px;
  }
}

 /* Navbar */
.green-color{
  color: #76FFBF;
  }
  .italic{
  font-style: italic;
  }
  
  
  
  
  
  
  
  .navbar_toggle .bar {
  display: block;
  width: 30px; 
  height: 3px; 
  background-color: #000; 
  margin: 6px 0; 
  }
  
  
  
  .header {
  background: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  }
  
  .nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #f0f0f0;
  }
  
  .nav li {
  margin: 0 1rem;
  }
  
  .nav a {
  text-decoration: none;
  color: #333;
  }
  
  
  .horizontal-menu {
    display: flex; /* Aktiverar flexbox-layout */
    flex-direction: column; /* Staplar barnen vertikalt */
    padding: 0; /* Tar bort default padding */
    list-style: none; /* Tar bort list-markeringar */
  }
  
  .bar {
    display: block;
    cursor: pointer;
  }
  
  /* Stiländringar när menyn är öppen */
  .is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .is-active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar_toggle {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }